on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

name: Deploy website on push
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install && npm run build
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          protocol: ftps
          server: ${{ secrets.ftp_hostname }}
          username: ${{ secrets.ftp_username }}
          password: ${{ secrets.ftp_password }}
          local-dir: bin/
          remote-dir: public_html/
